<div class="personDetails" *ngIf="personLoaded" [ngClass]="{'personDetails--female': person.gender === 'female'}">
    <span class="personDetails-name">{{ person.firstName }} {{ person.surname }}</span>
    <span class="personDetails-age">Age: {{ person.age }}</span>

    <div class="friends" *ngIf="!friendsLoaded || friends.length > 0">
        <div>
            <span class="friends-title">Friends:</span>

            <ul class="friends-list">
                <li class="friends-listItem"  *ngFor="let friend of friends;last as isLast">{{ people[friend - 1].firstName }} {{ people[friend - 1].surname !== '' ? people[friend - 1].surname : 'Doe' }}{{ isLast ? '' : ', ' }}</li>
            </ul>
        </div>

        <div>
            <span class="friends-title">Suggested friends:</span>

            <ul class="friends-list">
                <ng-container class="friends-listItem" *ngFor="let friend of suggestedFriendsUnique;last as isLast">
                    <li class="friends-listItem" *ngIf="friend !== person.id && !friends.includes(friend)">
                        {{ people[friend - 1].firstName }} {{ people[friend - 1].surname !== '' ? people[friend - 1].surname : 'Doe' }}{{ isLast ? '' : ', ' }}
                    </li>

                </ng-container>
            </ul>
        </div>
    </div>
</div>

<button class="backButton" (click)="goBack()">Go back</button>
