$maleColor: #69b4ff;
$femaleColor: #ff69b4;

.personDetails {
  max-width: 300px;

  padding: 15px;
  margin: 0 auto 15px;

  background-color: $maleColor;

  border: 1px solid #000;
}

.personDetails--female {
  background-color: $femaleColor;
}

.personDetails-name {
  display: block;

  margin: 0 0 15px;

  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.personDetails-age {
  display: block;

  font-size: 18px;
  text-align: center;
}

.friends {
  margin: 0 0 15px;
}

.friends-title {
  display: block;

  margin: 15px 0 0;

  text-align: center;
}

.friends-list {
  padding-left: 30px;
  margin: 0;
}

.friends-listItem {

}

.backButton {
  display: block;

  padding: 5px;
  margin: 0 auto;

  font-size: 18px;
  color: #fff;

  cursor: pointer;

  background-color: #000;

  border: 0;
  border-radius: 4px;
}
